@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@utility animate-blink {
  animation: blink 1s step-end infinite;
}

@theme {
  --text-base--line-height: 1.5;
}

#category-dropdown .tt_category {
  @apply w-full text-gray-800 transition-colors duration-500 dark:text-gray-50;
}

#category-dropdown .tt_category > li {
  @apply relative flex w-full flex-col gap-2 bg-white transition-colors duration-500 dark:bg-gray-800;
}

#category-dropdown .tt_category > li > .link_tit {
  @apply bg-linear-to-r flex w-full rounded-lg border border-transparent from-gray-800 to-gray-800 bg-clip-text py-2 text-center text-lg font-bold text-transparent transition-colors duration-200 ease-in-out hover:border-gray-300 hover:from-blue-600 hover:to-purple-700 dark:from-gray-50 dark:to-gray-50 dark:hover:border-gray-600 dark:hover:from-blue-300 dark:hover:to-purple-400;
}

#category-dropdown .c_cnt {
  @apply hidden;
}

#category-dropdown .tt_category > li > .category_list {
  @apply mt-2 grid grid-cols-3 gap-x-4 gap-y-4;
}

#category-dropdown .tt_category > li > .category_list > li {
  @apply mb-auto grid text-center;
}

#category-dropdown .tt_category > li > .category_list > li > .link_item {
  @apply flex rounded-lg px-16 py-4 text-center text-base font-semibold transition-all duration-200 ease-in-out hover:-translate-y-1 hover:text-blue-800 dark:hover:text-blue-400;
}

#category-dropdown
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list {
  @apply flex max-h-0 flex-col gap-2 overflow-y-hidden text-sm transition-all duration-1000;
}

#category-dropdown
  .tt_category
  > li
  > .category_list
  > li:hover
  > .sub_category_list {
  @apply max-h-96 duration-1000 ease-in-out;
}

#category-dropdown
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li {
  @apply py-1;
}

#category-dropdown
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li
  > a {
  @apply inline-block text-gray-600 no-underline transition-all duration-300 hover:-translate-y-1 hover:text-sky-600 dark:text-gray-300 dark:hover:text-sky-300;
}

.sidebar-categories .tt_category {
  @apply divide-y divide-gray-200 dark:divide-gray-600;
}

.sidebar-categories .tt_category > li {
  @apply bg-linear-to-r relative w-full from-blue-300 to-purple-400 transition-all duration-300 dark:from-blue-600 dark:to-purple-700;
}

.sidebar-categories .tt_category > li > .link_tit {
  @apply border-b border-gray-200 dark:border-gray-600;
}

.sidebar-categories .tt_category > li > .link_tit,
.sidebar-categories .tt_category > li > .category_list > li > .link_item,
.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li
  > a {
  @apply relative flex w-full justify-between truncate bg-white px-4 py-2 text-gray-700 no-underline transition-all duration-200 hover:translate-x-1 hover:bg-gray-50 hover:text-purple-700 dark:bg-gray-800 dark:text-gray-100 dark:hover:bg-gray-700 dark:hover:text-indigo-300;
}

.sidebar-categories .tt_category > li > .link_tit > span.c_cnt,
.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .link_item
  > span.c_cnt,
.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li
  > a
  > span.c_cnt {
  @apply rounded-full bg-indigo-100 px-2 py-1 text-sm font-medium text-indigo-600 dark:bg-indigo-500 dark:text-indigo-200;
}

.sidebar-categories .tt_category > li > .category_list {
  @apply w-full divide-y divide-gray-200 dark:divide-gray-600;
}

.sidebar-categories .tt_category > li > .category_list > li,
.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list,
.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li {
  @apply w-full;
}

.sidebar-categories
  .tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li
  > a {
  @apply pl-8;
}

ul.tt_category > li > .link_tit > img,
ul.tt_category > li > .category_list > li > .link_item > img,
ul.tt_category
  > li
  > .category_list
  > li
  > .sub_category_list
  > li
  > .link_sub_item
  > img {
  @apply hidden;
}

.tt-item-reply > .tt-wrap-cmt > .tt-box-content a,
.tt-item-reply > .tt-wrap-cmt > .tt-box-content p,
.tt-area-write span,
.tt-area-write label,
.tt-area-write input,
.tt-area-write textarea,
.tt-area-write .tt-btn-cancel,
.tt-area-write .tt-cmt {
  @apply text-black dark:text-white;
}

.tt-btn_register {
  @apply bg-black text-white enabled:hover:bg-gray-800 enabled:hover:text-white dark:bg-white dark:text-black dark:enabled:hover:bg-gray-200 dark:enabled:hover:text-gray-600;
}

.tt-item-reply > .tt-wrap-cmt > .tt-box-content > .tt-wrap-info > .tt_date,
.tt-item-reply
  > .tt-wrap-cmt
  > .tt-box-content
  > .tt-wrap-info
  > .tt-wrap-link-comment
  > a
  > span {
  @apply text-gray-500 dark:text-gray-300;
}

div.tt_box_namecard {
  @apply rounded-2xl bg-gray-100 dark:bg-gray-700;
}

div.tt_box_namecard > .tt_cont > .tt_tit_cont,
div.tt_box_namecard > .tt_cont > .tt_desc {
  @apply text-gray-800 dark:text-gray-200;
}

div.tt_box_namecard > .tt_cont > .tt_btn_subscribe {
  @apply bg-linear-to-r from-blue-300 to-purple-400 dark:from-blue-600 dark:to-purple-700;
}

div.tt_box_namecard > .tt_cont > .tt_btn_subscribe > .tt_txt_g {
  @apply font-bold text-white dark:text-gray-300;
}

div.tt_box_namecard > .tt_cont > .tt_btn_subscribe > .tt_ico_cross {
  @apply invert;
}

#article-view {
  @apply mt-12;
}

#article-view > div figure.imageblock {
  @apply my-4 flex flex-col items-center justify-center gap-2;
}

#article-view > div figure.imageblock > span {
  @apply flex items-center justify-center;
}

#article-view > div h2 {
  @apply my-6 text-4xl;
}
#article-view > div h3 {
  @apply my-5 text-3xl;
}
#article-view > div h4 {
  @apply my-4 text-2xl;
}
#article-view > div h5 {
  @apply my-3 text-xl;
}
#article-view > div h6 {
  @apply my-2 text-lg;
}
#article-view > div p {
  @apply my-1 pl-2 text-base;
}

#article-view > div blockquote[data-ke-style="style2"] {
  @apply my-2 rounded-lg border-l-4 border-gray-400 bg-gray-200 px-4 py-2 shadow-lg dark:bg-gray-600;
}
#article-view > div blockquote[data-ke-style="style2"] p {
  @apply text-gray-800 dark:text-gray-200;
}

#article-view > div ul {
  @apply mt-4 list-disc pl-8;
}
#article-view > div li {
  @apply my-1;
}
#article-view > div li > ul {
  @apply mt-0;
}

#article-view > div ol {
  @apply mt-4 list-decimal pl-8;
}

#article-view > div table,
#article-view > div table th,
#article-view > div table td {
  @apply border-collapse border border-gray-300 text-center dark:border-gray-600;
}
#article-view > div table th,
#article-view > div table td {
  @apply content-center px-4 py-2 text-left text-gray-800 dark:text-gray-200;
}
#article-view > div table th {
  @apply bg-gray-200 dark:bg-gray-700;
}

#article-view > div code {
  @apply mx-1 rounded-md bg-gray-100 px-1 py-1 text-sm text-gray-800 dark:bg-gray-700 dark:text-gray-200;
}

code.hljs {
  @apply overflow-x-auto rounded-xl bg-gray-100 text-gray-800 shadow-md dark:bg-gray-700 dark:text-gray-200;
}

code.hljs::-webkit-scrollbar {
  @apply h-2;
}

code.hljs::-webkit-scrollbar-track {
  @apply bg-transparent;
}

code.hljs::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-400 dark:bg-gray-500;
}

code.hljs::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-400;
}

span.hljs-comment,
span.hljs-quote {
  @apply text-green-600;
}

span.hljs-keyword,
span.hljs-selector-tag,
span.hljs-subst {
  @apply font-normal text-blue-400;
}

span.hljs-literal,
span.hljs-number,
span.hljs-tag .hljs-attr,
span.hljs-template-variable,
span.hljs-variable {
  @apply text-lime-300;
}

span.hljs-section,
span.hljs-selector-id,
span.hljs-title {
  @apply text-emerald-400;
}

span.hljs-class .hljs-title,
span.hljs-type {
  @apply text-emerald-500;
}

span.hljs-built_in,
span.hljs-builtin-name,
span.hljs-function .hljs-title {
  @apply text-yellow-100;
}

span.hljs-doctag,
span.hljs-string {
  @apply text-orange-400;
}

span.hljs-attribute {
  @apply text-sky-400;
}

#article-view > div h1,
#article-view > div h2,
#article-view > div h3,
#article-view > div h4,
#article-view > div h5,
#article-view > div h6 {
  @apply font-bold;
}

#article-view > div pre > code {
  @apply my-2 rounded-lg border-l-2 border-emerald-300 bg-gray-200 p-4 dark:bg-gray-700;
}

#article-view > div pre > code::-webkit-scrollbar {
  @apply h-2;
}

#article-view > div pre > code::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#article-view > div pre > code::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-400 dark:bg-gray-500;
}

#article-view > div pre > code::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-400;
}

#article-view > div pre.xml span.hljs-tag,
#article-view > div pre.stata span.hljs-tag {
  @apply text-gray-400;
}
#article-view > div pre.xml span.hljs-name,
#article-view > div pre.stata span.hljs-name {
  @apply text-blue-400;
}
#article-view > div pre.xml span.hljs-attr,
#article-view > div pre.stata span.hljs-attr {
  @apply text-sky-400;
}

#article-view > div pre.css span.hljs-selector-tag {
  @apply text-blue-400;
}

#article-view > div pre.css span.hljs-selector-id,
#article-view > div pre.css span.hljs-selector-class {
  @apply text-orange-300;
}

.container_postbtn {
  @apply flex justify-between;
}

.another_category {
  @apply hidden;
}

#article-tag-box > a[rel="tag"] {
  @apply inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 hover:bg-gray-300 dark:bg-gray-600 dark:text-gray-200 dark:hover:bg-gray-500;
}
